src/java/roomPlanner.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://roomplanner/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="RoomPlannerSoapServiceService" targetNamespace="http://roomplanner/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://roomplanner/" elementFormDefault="unqualified" targetNamespace="http://roomplanner/" version="1.0">

  <xs:element name="doPlan" type="tns:doPlan"/>

  <xs:element name="doPlanResponse" type="tns:doPlanResponse"/>

  <xs:element name="getStatus" type="tns:getStatus"/>

  <xs:element name="getStatusResponse" type="tns:getStatusResponse"/>

  <xs:complexType name="getStatus">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getStatusResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="status" type="tns:status"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="status">
    <xs:sequence>
      <xs:element minOccurs="0" name="uptime" type="xs:long"/>
      <xs:element minOccurs="0" name="requestsServed" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="doPlan">
    <xs:sequence>
      <xs:element minOccurs="0" name="license" type="tns:license"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="roomList" type="tns:room"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="roomCategoryList" type="tns:roomCategory"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="reservationList" type="tns:reservation"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="roomAssignmentList" type="tns:roomAssignment"/>
      <xs:element minOccurs="0" name="priceList" type="tns:pricelist"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="license">
    <xs:sequence>
      <xs:element minOccurs="0" name="key" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="room">
    <xs:sequence>
      <xs:element minOccurs="0" name="roomCategory" type="tns:roomCategory"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="adults" type="xs:int"/>
      <xs:element minOccurs="0" name="nonSmoking" type="xs:boolean"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long"/>
  </xs:complexType>

  <xs:complexType name="roomCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long"/>
  </xs:complexType>

  <xs:complexType name="reservation">
    <xs:sequence>
      <xs:element minOccurs="0" name="roomCategory" type="tns:roomCategory"/>
      <xs:element minOccurs="0" name="bookingInterval" type="xs:string"/>
      <xs:element minOccurs="0" name="adults" type="xs:int"/>
      <xs:element minOccurs="0" name="nonSmoking" type="xs:boolean"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long"/>
  </xs:complexType>

  <xs:complexType name="roomAssignment">
    <xs:sequence>
      <xs:element minOccurs="0" name="room" type="tns:room"/>
      <xs:element minOccurs="0" name="reservation" type="tns:reservation"/>
      <xs:element minOccurs="0" name="moveable" type="xs:boolean"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long"/>
  </xs:complexType>

  <xs:complexType name="pricelist">
    <xs:sequence>
      <xs:element minOccurs="0" name="licenseId" type="xs:long"/>
      <xs:element minOccurs="0" name="fromDate" type="xs:string"/>
      <xs:element minOccurs="0" name="toDate" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="items" type="tns:pricelistItem"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="pricelistItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="onDate" type="xs:string"/>
      <xs:element minOccurs="0" name="rate" type="xs:decimal"/>
      <xs:element minOccurs="0" name="roomId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="doPlanResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="plan" type="tns:plan"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="plan">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="roomAssignments" type="tns:roomAssignment"/>
      <xs:element minOccurs="0" name="score" type="tns:score"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="score">
    <xs:sequence>
      <xs:element minOccurs="0" name="feasible" type="xs:boolean"/>
      <xs:element minOccurs="0" name="hardScoreConstraints" type="xs:double"/>
      <xs:element minOccurs="0" name="softScoreConstraints" type="xs:double"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="scoreDetails" type="tns:scoreDetail"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="scoreDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="constraintName" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="roomAssignments" type="tns:roomAssignment"/>
      <xs:element minOccurs="0" name="weight" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="doPlan">
    <wsdl:part element="tns:doPlan" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStatusResponse">
    <wsdl:part element="tns:getStatusResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStatus">
    <wsdl:part element="tns:getStatus" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="doPlanResponse">
    <wsdl:part element="tns:doPlanResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RoomPlannerSoapService">
    <wsdl:operation name="getStatus">
      <wsdl:input message="tns:getStatus" name="getStatus">
    </wsdl:input>
      <wsdl:output message="tns:getStatusResponse" name="getStatusResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doPlan">
      <wsdl:input message="tns:doPlan" name="doPlan">
    </wsdl:input>
      <wsdl:output message="tns:doPlanResponse" name="doPlanResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RoomPlannerSoapServiceServiceSoapBinding" type="tns:RoomPlannerSoapService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getStatus">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getStatus">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getStatusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doPlan">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="doPlan">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="doPlanResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoomPlannerSoapServiceService">
    <wsdl:port binding="tns:RoomPlannerSoapServiceServiceSoapBinding" name="RoomPlannerSoapServicePort">
      <soap:address location="http://localhost:8080/RoomPlanner/services/roomPlannerSoap"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>